<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>关于我们</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="keywords" content="小虎名品手机站"/>
    <script type="text/javascript" src="js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="js/TouchSlide.1.0.js"></script>
</head>
<body>
<div class="about fix">
    <div class="about_banner fix"><img src="images/about_banner.jpg"/></div>
    <div class="about_nr fix">
        <h3>小虎名品</h3>
        <P>小虎名品自2015年成立以来，致力服务于广大高端客户群
            体，一单生意交一个朋友，诚信第一原则服务好每一位客
            户！
            奢饰品【回收】【寄卖】【鉴定】 名表 钻石 名包 <br>
            联系电话：13602133933(微信同号) 李经理
        <p>
    </div>
    <div class="about_map fix">
        <img src="images/about_map.jpg"/>
    </div>
</div>
<div class="footer fix">
    <ul>
        <li>
            <a href="index.html">
                <i class="footer_tb1"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="Repair.html">
                <i class="footer_tb2"></i>
                <span>维修保养</span>
            </a>
        </li>
        <li class="on">
            <a href="about.html">
                <i class="footer_tb3"></i>
                <span>关于我们</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
