<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>新闻列表</title>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="小虎名品手机站"/>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/TouchSlide.1.0.js"></script>
</head>
<body>
  <div class="news fix">
   <div class="news_cn fix">
    <ul>
  <li>
  <a href="news_nr.html"  class="tbox">
    <div><i><img src="images/index_Appraisaltp.jpg"/></i></div>
    <div class="news_sm">
     <h3>教你如何保养我们的爱表赶快来学习吧！</h3>
     <span>2018-12-01</span>
    </div>
  </a>
  </li>
   <li>
  <a href="news_nr.html"  class="tbox">
    <div><i><img src="images/index_Appraisaltp.jpg"/></i></div>
    <div class="news_sm">
     <h3>教你如何保养我们的爱表赶快来学习吧！</h3>
     <span>2018-12-01</span>
    </div>
  </a>
  </li>
   <li>
  <a href="news_nr.html"  class="tbox">
    <div><i><img src="images/index_Appraisaltp.jpg"/></i></div>
    <div class="news_sm">
     <h3>教你如何保养我们的爱表赶快来学习吧！</h3>
     <span>2018-12-01</span>
    </div>
  </a>
  </li>
  <li>
  <a href="news_nr.html"  class="tbox">
    <div><i><img src="images/index_Appraisaltp.jpg"/></i></div>
    <div class="news_sm">
     <h3>教你如何保养我们的爱表赶快来学习吧！</h3>
     <span>2018-12-01</span>
    </div>
  </a>
  </li>
   <li>
  <a href="news_nr.html"  class="tbox">
    <div><i><img src="images/index_Appraisaltp.jpg"/></i></div>
    <div class="news_sm">
     <h3>教你如何保养我们的爱表赶快来学习吧！</h3>
     <span>2018-12-01</span>
    </div>
  </a>
  </li>
   <li>
  <a href="news_nr.html"  class="tbox">
    <div><i><img src="images/index_Appraisaltp.jpg"/></i></div>
    <div class="news_sm">
     <h3>教你如何保养我们的爱表赶快来学习吧！</h3>
     <span>2018-12-01</span>
    </div>
  </a>
  </li>
 </ul>
   </div>
  </div>
 <div class="footer fix">
  <ul>
    <li class="on">
     <a href="index.html">
      <i class="footer_tb1"></i>
      <span>首页</span>
     </a>
    </li>
     <li>
     <a href="Repair.html">
      <i class="footer_tb2"></i>
      <span>维修保养</span>
     </a>
    </li>
     <li>
     <a href="about.html">
      <i class="footer_tb3"></i>
      <span>关于我们</span>
     </a>
    </li>
  </ul>
</div>
</body>
</html>
