<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>新闻列表</title>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="小虎名品手机站"/>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/TouchSlide.1.0.js"></script>
</head>
<body>
 <div class="news_nr fix">
  <div class="news_bt fix"><h3>教你如何保养我们的爱表</h3></div>
  <div class="news_date fix"><span>2018-12-04</span><em>小虎名品</em></div>
  <div class="news_xq fix">
  <P>    戴在手腕上的手表时时刻刻会遇到危险的碰撞，而好的
保护和戴表习惯会大大延长手表的使用寿命和佩戴感。对
于许多表友来说，最需要注意的是戴表习惯和戴表方式，
手表经常会在不经意间被“伤害”。如：<br>
   1、戴表的手腕上，同时带有时尚手镯或金属手链。手腕
饰品可能会刮伤手表的侧面或正面，即便不会刮花，有些
硬质装饰品时间久了也会对手表产生摩擦痕迹，只有织物
或薄皮手镯才可以随手表一起佩戴。无论如何应避免金属
腕饰与手表在同一个手腕上。<br>
   2、让自己的爱表远离极端温度。最好别超过60度和低于
-5度，高温或低温都有可能会影响手表机械部件内部的润
滑油工作。还有就是高温会使手表遭遇危险的环境，比如
热水浴所产生的大热量会使手表防水胶圈变形导致防水失
效。<br>
   3、佩戴手表不可进行激烈的运动。比如攀爬或打高尔夫
球，手腕频繁接触面极易刮伤手表或表带，击打高尔夫球
引起强烈的振动也非常容易对手表内部结构造成损伤。还
有其他运动也会让手表遭遇危险，比如踢球、打篮球等运
动。皮革表带的手表切不可从事任何运动，因为汗渍会对
皮带造成严重腐蚀。<br>
   4、使用香水或化妆品时请摘下手表。一些化学品类尽管
人体可以接受，但化妆品中的某些化学物质可能会干扰手
表的防水或腐蚀手表外层。我们有个法则，就是当您需要
进入浴室，请摘下手表!手表应该是穿衣时穿的最后一件东
西。<br>
   5、让手表远离磁场。现今人们日常生活中处处都存在磁
场，而我们佩戴手表却要非常注意，如笔记本的磁扣、冰
箱门上吸磁、音响等等。通常在电视机或笔记本电脑使用
时，请将手表放在远离普通电磁设备的地方，切勿让手表
放在笔记本电脑上。磁铁可能会对手表内金属部件的运行
造成上磁，进而影响其精准度。
</P>
  </div>
 </div>
 <div class="footer fix">
  <ul>
    <li class="on">
     <a href="index.html">
      <i class="footer_tb1"></i>
      <span>首页</span>
     </a>
    </li>
     <li>
     <a href="Repair.html">
      <i class="footer_tb2"></i>
      <span>维修保养</span>
     </a>
    </li>
     <li>
     <a href="about.html">
      <i class="footer_tb3"></i>
      <span>关于我们</span>
     </a>
    </li>
  </ul>
</div>
</body>
</html>
